select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

input {
  outline: none;
}

.material-symbols-outlined {
  line-height: 1;
  user-select: none;
}
